In [7]:
# import libraries

import pandas as pd 
import matplotlib as plt
import numpy as np 
import seaborn 

from scipy.stats import poisson,skellam
import statsmodels.api as sm 
import statsmodels.formula.api as smf

In [5]:
dataset = pd.read_csv('Dataset.csv')
dataset = dataset[['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']]
dataset = dataset.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals'})
dataset.head()

     HomeTeam  AwayTeam  HomeGoals  AwayGoals
0       Parma  Juventus          0          1
1  Fiorentina    Napoli          3          4
2     Udinese     Milan          1          0
3    Cagliari   Brescia          0          1
4        Roma     Genoa          3          3